
mat-card {
  width: 80%;
  margin: 0 auto;
  font-size: 10px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;


}

mat-form-field {
  width: 190px;
}

.mat-form-field-flex {
  background-color: greenyellow;
}