<p>
    {{message}}
</p>

<mat-card>
    <mat-toolbar>
        <button mat-raised-button color="primary" (click)="clickedAdd($event)">ADD</button>
        <button mat-raised-button color="primary" (click)="clickedClear($event)">CLEAR</button>
        <button mat-raised-button color="primary" (click)="clickedUpdate($event)">UPDATE</button>
        <button mat-raised-button color="primary" (click)="clickedFindAll($event)">FIND ALL</button>

        <!--<input [matDatepicker]="myDatepicker">-->
        <!--<mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>-->
        <!--<mat-datepicker #myDatepicker></mat-datepicker>-->



    </mat-toolbar>


    <form [formGroup]="appointForm">

        <mat-form-field>
            <input type="text" matInput placeholder="Title..." formControlName="title">
        </mat-form-field>
        <div></div>
        <!--from-->

        <mat-form-field>
     <div>
         <mat-datepicker-toggle matSuffix [for]="myDatepicker" ></mat-datepicker-toggle>
         <input matInput #fromDatePart
                (dateChange)="blurred($event)"
                placeholder="Date"
                [matDatepicker]="myDatepicker" formControlName="from_datepart">

         <mat-datepicker #myDatepicker (dateChange)="blurred($event)"></mat-datepicker>
     </div>
        </mat-form-field>
        <mat-form-field>
                 <input matInput [ngxTimepicker]="toggleTimepicker"
                        placeholder="Starting.."
                        [disableClick]="false" formControlName="from_timepart" readonly>
                 <!--<ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>-->
                 <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
        </mat-form-field>

        <div class=""></div>


        <!--to-->
        <mat-form-field>
            <input  matInput [matDatepicker]="myDatepicker1" formControlName="to_datepart" #toDatePart (blur)="blurred($event)">
            <mat-datepicker-toggle [for]="myDatepicker1"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Finishes.." formControlName="to_timepart" [ngxTimepicker]="timepicker_to"
                   readonly>
            <ngx-material-timepicker #timepicker_to></ngx-material-timepicker>
        </mat-form-field>

        <!--Attendees-->
        <div class=""></div>
        <mat-form-field>
            <input type="text" matInput placeholder="attendees.." formControlName="attendees">
        </mat-form-field>
        <mat-form-field [style.visibility]="'hidden'">
            <input [style.visibility]="'hidden'" type="text" matInput formControlName="_id">
        </mat-form-field>

    </form>
</mat-card>
<mat-card>

    <table mat-table [dataSource]="tableDataSource$">

        <ng-container matColumnDef="title">
            <th *matHeaderCellDef>title</th>
            <td mat-cell *matCellDef="let row">{{row.title}}</td>
        </ng-container>
        <ng-container matColumnDef="from">
            <th *matHeaderCellDef>finishing</th>
            <td mat-cell *matCellDef="let row">{{row.from}}</td>
        </ng-container>
        <ng-container matColumnDef="to">
            <th *matHeaderCellDef>Finishing</th>
            <td mat-cell *matCellDef="let row">{{row.to}}</td>
        </ng-container>
        <ng-container matColumnDef="attendees">
            <th *matHeaderCellDef>Atending</th>
            <td mat-cell *matCellDef="let row">{{row.attendees}}</td>
            <td cdk-footer-cell *cdkFooterCellDef>'1234'</td>
        </ng-container>

        <ng-container matColumnDef="titleSelect">
            <th *matHeaderCellDef>title</th>
            <td mat-cell *matCellDef="let row">
                <button mat-button (click)='rowClicked(row)'>Select</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="titleDelete">
            <th *matHeaderCellDef>title</th>
            <td mat-cell *matCellDef="let row">
                <button mat-button (click)='rowClickedDelete(row)'>Del</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="hiddednid">
            <th *matHeaderCellDef>id</th>
            <td mat-cell *matCellDef="let row">
                {{row._id}}
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns$"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns$;"></tr>
        <!--<tr cdk-footer-row *cdkFooterRowDef="['attendees']"></tr>-->
    </table>


</mat-card>
