$calenderBackgroundColor: rgba(179, 173, 152, 0.38);
$calendarBorderColor: #efefef;
@import url('../../styles.scss');


.main-cal-container {
    display: block;
    width: 80%;
}
.example-viewport {
    height: 500px;
    width: 100%;
    //border: 1px solid $calendarBorderColor;
}


.week{
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    height: 100px;
    //background-color: lightcyan;
    //border: 1px black solid;
}

.day-renderer {
    flex: 1 1 14%;


}

.header-container {
    padding: 8px 0 8px 0;
    text-align: center;
    display: flex;
    //flex:  0 0 200px;
    width: 100%;
    background-color: $calenderBackgroundColor;
    border: 0px solid $calendarBorderColor;
}
.header-label {
    border: 1px $calendarBorderColor solid;
    flex: 1 1 17%;
}





//.week {
  //  display: flex;
  //  flex:  1 1 14%;
  //height: 50px;
  //  background-color: red;
  //  border: 1px solid darkgray;
  //  z-index: 12;
  //  transform: translateY(-50px);
  //}
