<div class="main-cal-container">
    <button (click)="scrollTo()">ADD MORE</button>

    <p>CURRENT IDX: {{currentIdx}}</p>
    <p>{{currentDate}}</p>


    <div class="header-container">
        <div class="header-label">MON</div>
        <div class="header-label">TUE</div>
        <div class="header-label">WED</div>
        <div class="header-label">THU</div>
        <div class="header-label">FRI</div>
        <div class="header-label">SAT</div>
        <div class="header-label">SUN</div>

    </div>

    <div *ngIf="showCal">
        <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport"
                                     (onContentRendered)="onContentRendered($event)"
                                     (scrolledIndexChange)="scrollIdx($event, idx)">


            <div *cdkVirtualFor="let item of data | async as cal; trackBy: trackbyFn; let idx = index" class="week">


                <!--<div *ngFor="let is of item">{{is|json}}</div>-->

                <app-day-renderer *ngFor="let i of item" [item]="i" [appointments]="appointments[i]"  class="day-renderer" >
                </app-day-renderer>
            </div>
        </cdk-virtual-scroll-viewport>


    </div>
<!--[style.background-color]="'red'"-->
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->