
.CalendarBackgoundSyle1 {
  background-color: lightpink;
}

.CalendarBackgoundSyle2 {
  background-color: lightgreen;
}

.CalendarBackgoundSyle3 {
  background-color: lightgoldenrodyellow;
}

//.renderer-title {
//  flex: 1 1 100%;
//  border: 1px solid crimson;
//}

.day-renderer-container {
  display: flex;
  flex: 1 1 100%;
  height: 100%;
  flex-flow: column nowrap;
  border-left: white 1px solid;
  border-top: white 1px solid;
  overflow-scrolling: auto;

}

.day-renderer-header {
  display: block;
  height: 25px;

  //border: 1px solid crimson;
  //justify-content: flex-start;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 15px;
}


span.day-fmt {
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: dimgray;
  //background-color: red;
}

.day-list-item {
  //align-self: flex-start;
  font-family: "arial";
  font-size: 12px;
  color: dodgerblue;
  //background-color: crimson;
  //border: 1px solid blue;
  border-width: 1px;
  border-style: solid;
  border-color: crimson;
text-align: left;
  padding-left: 15px;
}

//.day-list-item:hover {
//
//    border: dimgray 1px solid;
//
//}

//.weekday {
//  display: flex;
//  flex: 1 1 14%;
//  flex-flow: row nowrap;
//  height: 100px;

  //background-color: aliceblue;
  //border-top: 1px solid whitesmoke;
  //border-left: 1px solid greenyellow;
//}
