<div class="day-renderer-container" [style.backgroundColor]="backCol">

    <div class="day-renderer-header">
        <span class="day-fmt">{{value}}</span>
    </div>

    <div *ngFor="let a of _appointments" class="day-list-item"
         #daylist [style.borderColor]="backCol"
         appMousedown [data]="a"
         (mousedown)="mousedownDayListItem(a)"
         (mouseleave)="mouseLeaveDayListItem($event)"
         (mouseover)="mouseEnterDayListItem($event)" >


        <!--(mouseleave)="mouseLeaveDayListItem($event)"-->
        <!--(mouseover)="mouseEnterDayListItem($event)"-->

        <svg width="10" height="10">
            <circle cx="3" cy="5" r="3" stroke="black" stroke-width="1" fill="red"/>
        </svg>
        <!--<p class="display-text">-->
        <span>{{a.from}}</span>
        <span>{{a.title}}</span>
        <!--<span>{{a.to}}</span>-->
        <!--<span>{{a.attendees}}</span>-->
        <!--<span>{{a.location}}</span>-->

        <!--</p>-->


    </div>

</div>


<!--[style.backgroundColor]="backCol"-->